*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 65.5%;
}

.service{
    height: 100vh;
    width: 100%;
}

.service .head{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/storage/emulated/0/Download/bigphoto2.jpeg');
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    color: white;
    line-height: 7rem;
}

.service .head h1{
    font-size: 8rem;
}

.service .head p{
    font-size: 3.5rem;
}

.service .down{
    height: 50vh;
    width: 100%;
    display: flex; 
}

.service .down .image{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/storage/emulated/0/Download/photo.jpg');
    background-size: cover;
    background-poistion: center;
    width: 50%; 
}

.service .down .image h1{
    display: none;
}

.service .down .content{
    width: calc(50% - 6rem);
    background-color: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 3rem;
}

.service .down .content h1{
    font-size: 7rem;
    font-weight: 250;
    color: #d69f59b4;
}

.service .down .content h2{
    font-size: 4.2rem;
    font-weight: 500;
}

.service .down .content p{
    font-size: 3.5rem;
}

@media(min-width: 288px) and (max-width: 950px){   
    .service .head p{       
        text-align: center;
    }
    
    .service .down{
        flex-direction: column-reverse;
        height: 100vh;
        background-color: #222;
    }
    
    .service .down .image{        
        width: 70%;
        height: 50vh;
        display: flex;
        text-align: center;
        justify-content: center;
        color: snow;
        align-items: center;
    }
    .service .down .image h1{
        display: block;
        font-size: 5rem;
    }
    
    .service .down .content{
        height: 50vh;
        width: calc(100% - 6rem);
    }       
}

@media (min-width: 288px) and (max-width: 320px){
    html{
        font-size: 30%;
    }       
}

@media (min-width: 321px) and (max-width: 420px){
    html{
        font-size: 32.8%;
    }       
}

@media (min-width: 421px) and (max-width: 520px){
    html{
        font-size: 35.5%;
    }       
}

@media (min-width: 521px) and (max-width: 620px){
    html{
        font-size: 44%;
    }       
}

@media (min-width: 621px) and (max-width: 750px){
    html{
        font-size: 55%;
    }       
}

@media (min-width: 751px) and (max-width: 820px){
    html{
        font-size: 60%;
    }       
}

@media (min-width: 821px) and (max-width: 1024px){
    html{
        font-size: 64%;
    }       
}


@media (min-width: 1440px) and (max-width: 3000px){
    html{
        font-size: 76%;
    }       
}


